@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@300;400;500;600;700&display=swap");

/* header heading font  */
@import url("https://fonts.googleapis.com/css2?family=Abril+Fatface&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Raleway", sans-serif;
  user-select: none;
}

body {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  overflow-x: hidden;
}

/* NAVBAR */

/* toggle class for navigation */
.active {
  transition: all 0.9s ease-in;
}

/* show menu on phone */
.show {
  display: block;
}

.hover-underline-animation:after {
  content: "";
  position: absolute;
  width: 100%;
  transform: scaleX(0);
  height: 2px;
  bottom: 0;
  left: 0;
  background-color: #ca8a04;
  transform-origin: bottom right;
  transition: transform 0.25s ease-out;
}

.hover-underline-animation:hover:after {
  transform: scaleX(1);
  transform-origin: bottom left;
}

.sibling-fade {
  visibility: hidden;
}
.sibling-fade > * {
  visibility: visible;
}
.sibling-fade > * {
  transition: opacity 150ms linear 100ms, transform 150ms ease-in-out 100ms;
}
.sibling-fade:hover > * {
  opacity: 0.4;
  transform: scale(0.9);
}
.sibling-fade > *:hover {
  opacity: 1;
  transform: scale(1);
  transition-delay: 0ms, 0ms;
}

/* END */

/* particles effects  */

#particles-js {
  background: linear-gradient(
      to top right,
      rgba(29, 29, 29, 0.749),
      rgba(22, 22, 22, 0.768)
    ),
    url("../dp/hero.png") no-repeat top center/cover;

  width: 100%;
  height: 100vh;
  overflow: hidden;
}

.header {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  backdrop-filter: blur(3px);
}
.header h2 {
  font-family: "Abril Fatface", cursive;
  font-size: 6rem;
}
/* site logo font family */

.active.navbar a {
  color: #000;
  font-weight: 500;
}

/* aside or sidebar */
.sidebar {
  width: 20%;
  height: 100%;
  border-right: 1px solid #ddd;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
}

.main {
  width: 80%;
  margin-left: auto;
}

/* SCROLL TO TOP BUTTON */

.scroll_top {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.3rem;
  padding: 0.5rem 0.7rem;
  visibility: hidden;
  opacity: 0;
}

.scroll_top.active {
  bottom: 40px;
  visibility: visible;
  opacity: 1;
}

/* END */

/* my learning */
.cards {
  position: relative;
}

.cards span {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-weight: 800;
  letter-spacing: 2px;
  background-color: #fff;
  transition: all 600ms ease-in;
  visibility: hidden;
  opacity: 0;
  cursor: pointer;
}

.cards:hover {
  box-shadow: 0 0 0 rgba(0, 0, 0, 0.2);
}

.cards:hover span {
  visibility: visible;
  opacity: 1;
}

/* contact styling */

#contact form {
  max-width: 450px;
  width: 100%;
  margin: auto;
}

input:focus,
textarea:focus,
textarea:active,
input:active {
  transition: all 0.2s ease;
  border-color: #eca407;
  outline: none;
}

/* media queries */

@media screen and (max-width: 1024px) {
  .sidebar {
    width: 100%;
    position: sticky;
    top: 0;
  }

  .header h2 {
    font-size: 5rem;
  }

  .main {
    width: 100% !important;
    margin: 0;
  }
}

@media screen and (max-width: 550px) {
  .header h2 {
    font-size: 3rem;
  }
}
